body{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header{
    height: 300px;
    width: 100%;
    background-image: url('header_image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input{
    padding: 5px;
}

table{
    margin-top: 30px;
}

td{
    padding: 5px;
    width: 120px;
}

.darker-line{
    background-color: rgba(246, 177, 74, 0.739);
}

.show{
    display: block;
    color: rgb(0, 73, 97);
}

.hide{
    display:none;
}